<mat-grid-list cols="10" rowHeight="3:1" *ngIf="book">
    <mat-grid-tile colspan="10" rowspan="2" *ngIf='book?.name'><strong>{{book.name}}</strong></mat-grid-tile>

    <div *ngIf='book?.isbn'>
        <mat-grid-tile colspan="3" >ISBN</mat-grid-tile>
        <mat-grid-tile colspan="7">{{book.isbn}}</mat-grid-tile>
    </div>
    
    <div *ngIf='book?.authors != ""'>
        <mat-grid-tile colspan="3" rowspan="{{book.authors.length}}">Authors</mat-grid-tile>
        <mat-grid-tile colspan="7" *ngFor="let author of book?.authors">{{author}}</mat-grid-tile> 
    </div>

    <div *ngIf='book?.numberOfPages'>
        <mat-grid-tile colspan="3">Number of pages</mat-grid-tile>
        <mat-grid-tile colspan="7">{{book.numberOfPages}}</mat-grid-tile>
    </div>

    <div *ngIf='book?.publisher'>
        <mat-grid-tile colspan="3">Publisher</mat-grid-tile>
        <mat-grid-tile colspan="7">{{book.publisher}}</mat-grid-tile>
    </div>

    <div *ngIf='book?.country'>
        <mat-grid-tile colspan="3">Country</mat-grid-tile>
        <mat-grid-tile colspan="7">{{book.country}}</mat-grid-tile>
    </div>

    <div *ngIf='book?.mediaType'>
        <mat-grid-tile colspan="3">Media type</mat-grid-tile>
        <mat-grid-tile colspan="7">{{book.mediaType}}</mat-grid-tile>
    </div>

    <div  *ngIf='book?.released'>
        <mat-grid-tile colspan="3">Released</mat-grid-tile>
        <mat-grid-tile colspan="7">{{book.released}}</mat-grid-tile>
    </div>

    <div *ngIf='book?.characters != ""'>
        <mat-grid-tile colspan="3" rowspan="{{book.characters.length}}">Characters</mat-grid-tile>
        <div *ngFor="let character of characters">
            <mat-grid-tile colspan="7" *ngIf='character?.name' [routerLink]="['/character', getRouteId(character.url)]" routerLinkActive="active" style="color: darkblue">{{character.name}}</mat-grid-tile> 
            <mat-grid-tile colspan="7" *ngIf='character?.name== ""' [routerLink]="['/character', getRouteId(character.url)]" routerLinkActive="active" style="color: darkblue">{{character.aliases[0]}}</mat-grid-tile> 
        </div>
        
    </div>

    <div *ngIf='book?.povCharacters'> 
        <mat-grid-tile colspan="3" rowspan="{{book.povCharacters.length}}">POV characters</mat-grid-tile>
        <div *ngFor="let povCharacter of povCharacters">
            <mat-grid-tile colspan="7" *ngIf='povCharacter?.name' [routerLink]="['/character', getRouteId(povCharacter.url)]" routerLinkActive="active" style="color: darkblue">{{povCharacter.name}}</mat-grid-tile>
            <mat-grid-tile colspan="7" *ngIf='povCharacter?.name== ""' [routerLink]="['/character', getRouteId(povCharacter.url)]" routerLinkActive="active" style="color: darkblue">{{povCharacter.aliases[0]}}</mat-grid-tile>
        </div>
         
    </div>
</mat-grid-list>

