<mat-grid-list cols="10" rowHeight="3:1" *ngIf="house">
    <mat-grid-tile colspan="10" rowspan="2" *ngIf='house?.name'><strong>{{house.name}}</strong></mat-grid-tile>

    <div *ngIf='house?.region'>
        <mat-grid-tile colspan="3">Region</mat-grid-tile>
        <mat-grid-tile colspan="7">{{house.region}}</mat-grid-tile>
    </div>

    <div *ngIf='house?.coatOfArms'>
        <mat-grid-tile colspan="3">Coat of arms</mat-grid-tile>
        <mat-grid-tile colspan="7">{{house.coatOfArms}}</mat-grid-tile>
    </div>

    <div *ngIf='house?.words'>
        <mat-grid-tile colspan="3">Words</mat-grid-tile>
        <mat-grid-tile colspan="7">{{house.words}}</mat-grid-tile>
    </div>

    <div *ngIf='house.titles != ""'>
        <mat-grid-tile colspan="3" rowspan="{{house.titles.length}}">Titles</mat-grid-tile>
        <mat-grid-tile colspan="7" *ngFor="let title of house.titles">{{title}}</mat-grid-tile> 
    </div>
    
    <div *ngIf='house.seats != ""'>
        <mat-grid-tile colspan="3" rowspan="{{house.seats.length}}">Seats</mat-grid-tile>
        <mat-grid-tile colspan="7" *ngFor="let seat of house.seats">{{seat}}</mat-grid-tile>
    </div>
    
    <div *ngIf='currentLord !== undefined'>
        <mat-grid-tile colspan="3">Current lord</mat-grid-tile>
        <mat-grid-tile colspan="7" [routerLink]="['/character', getRouteId(currentLord.url)]" routerLinkActive="active" style="color: darkblue">{{currentLord.name}}</mat-grid-tile>
    </div>
    
    <div *ngIf='heir !== undefined'>
        <mat-grid-tile colspan="3">Heir</mat-grid-tile>
        <mat-grid-tile colspan="7" [routerLink]="['/character', getRouteId(heir.url)]" routerLinkActive="active" style="color: darkblue">{{heir.name}}</mat-grid-tile>
    </div>
    
    <div *ngIf='overlord !== undefined'>
        <mat-grid-tile colspan="3">Overlord</mat-grid-tile>
        <mat-grid-tile colspan="7" [routerLink]="['/house', getRouteId(overlord.url)]" routerLinkActive="active" style="color: darkblue">{{overlord.name}}</mat-grid-tile>        
    </div>
    
    <div *ngIf='house?.founded'>
        <mat-grid-tile colspan="3">Founded</mat-grid-tile>
        <mat-grid-tile colspan="7">{{house.founded}}</mat-grid-tile>
    </div>

    <div *ngIf='founder !== undefined'>
        <mat-grid-tile colspan="3">Founder</mat-grid-tile>
        <mat-grid-tile colspan="7" [routerLink]="['/character', getRouteId(founder.url)]" routerLinkActive="active" style="color: darkblue">{{founder.name}}</mat-grid-tile>        
    </div>

    <div *ngIf='house?.diedOut'>
        <mat-grid-tile colspan="3">Died out</mat-grid-tile>
        <mat-grid-tile colspan="7">{{house.diedOut}}</mat-grid-tile>
    </div>
    
    <div *ngIf='house.ancestralWeapons != ""'>
        <mat-grid-tile colspan="3" rowspan="{{house.ancestralWeapons.length}}">Ancestral weapons</mat-grid-tile>
        <mat-grid-tile colspan="7" *ngFor="let ancestralWeapon of house?.ancestralWeapons">{{ancestralWeapon}}</mat-grid-tile>
    </div>

    <div *ngIf='house.cadetBranches != ""'>
        <mat-grid-tile colspan="3" rowspan="{{house.cadetBranches.length}}">Cadet brances</mat-grid-tile>
        <mat-grid-tile colspan="7" *ngFor="let cadetBranch of cadetBranches" [routerLink]="['/house', getRouteId(cadetBranch.url)]" routerLinkActive="active" style="color: darkblue">{{cadetBranch.name}}</mat-grid-tile>
    </div>
    
    <div *ngIf='house.swornMembers != ""'>
        <mat-grid-tile colspan="3" rowspan="{{house.swornMembers.length}}">Sworn members</mat-grid-tile>
        <mat-grid-tile colspan="7" *ngFor="let swornMember of swornMembers" [routerLink]="['/character', getRouteId(swornMember.url)]" routerLinkActive="active" style="color: darkblue">{{swornMember.name}}</mat-grid-tile>
    </div>

</mat-grid-list>
