<div class="col-lg-5 panel panel-info">
    <div class="panel-body">
        <input class="form-control" placeholder="Filter characters...">
        <mat-list>
            <a *ngFor="let character of characters">
                <p *ngIf='character.name != ""' [routerLink]="['/character', character.id]" routerLinkActive="active" class="text-info">{{character.name}}</p>
                <p *ngIf='character.name == ""' [routerLink]="['/character', character.id]" routerLinkActive="active" class="text-info">{{character.aliases[0]}}</p>
            </a>
        </mat-list>
    </div>
</div>

  