<carousel>
    <slide>
      <img routerLink="/books" routerLinkActive="active" src="assets/img-books.jpg" alt="Books" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Books</h1>
      </div>
    </slide>
    <slide>
      <img routerLink="/houses" routerLinkActive="active" src="assets/img-houses.jpg" alt="Houses" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Houses</h1>
      </div>
    </slide>
    <slide>
      <img routerLink="/characters" routerLinkActive="active" src="assets/img-characters.jpg" alt="characters" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Characters</h1>
      </div>
    </slide>
</carousel>
<mat-grid-list cols="3" rowHeight="4:1">
  <mat-grid-tile [routerLink]="['/books']" routerLinkActive="active" >Books</mat-grid-tile>
  <mat-grid-tile [routerLink]="['/houses']" routerLinkActive="active" >Houses</mat-grid-tile>
  <mat-grid-tile [routerLink]="['/characters']" routerLinkActive="active" >Characters</mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

