<carousel>
    <slide>
      <img routerLink="/books" routerLinkActive="active" src="assets/img-books.jpg" alt="Books" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Books</h1>
      </div>
    </slide>
    <slide>
      <img routerLink="/houses" routerLinkActive="active" src="assets/img-houses.jpg" alt="Houses" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Houses</h1>
      </div>
    </slide>
    <slide>
      <img routerLink="/characters" routerLinkActive="active" src="assets/img-characters.jpg" alt="characters" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Characters</h1>
      </div>
    </slide>
</carousel>
<tabset [justified]="true">
    <tab heading="Books" routerLink="/books" routerLinkActive="active"></tab>
    <tab heading="Houses" routerLink="/houses" routerLinkActive="active"></tab>
    <tab heading="Characters" routerLink="/characters" routerLinkActive="active"></tab>
</tabset>


